<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984142398053-im23767qd0kmtsnub818cghk4ojerk57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984142398053-im23767qd0kmtsnub818cghk4ojerk57</string>
	<key>API_KEY</key>
	<string>AIzaSyAoTvl_LjdjL7KJqecVXJD2_HIl_2rnzsA</string>
	<key>GCM_SENDER_ID</key>
	<string>984142398053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raywenderlich.RayChat</string>
	<key>PROJECT_ID</key>
	<string>ray-chat-1974b</string>
	<key>STORAGE_BUCKET</key>
	<string>ray-chat-1974b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984142398053:ios:65d5dbf5698be0089d3c8c</string>
</dict>
</plist>